---
import Layout from '../layouts/Layout.astro'
import BootScreen from '../components/BootScreen.astro'
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
import Manifesto from '../components/Manifesto.astro'
import Pipeline from '../components/Pipeline.astro'
import Contract from '../components/Contract.astro'
import Sandbox from '../components/Sandbox.astro'
import World from '../components/World.astro'
import Boundary from '../components/Boundary.astro'
import Architecture from '../components/Architecture.astro'
import Console from '../components/Console.astro'
import Roadmap from '../components/Roadmap.astro'
import Footer from '../components/Footer.astro'
---

<Layout>
  <BootScreen />
  <div class="app-container">
    <Navbar />
    <Hero />
    <Manifesto />
    <Pipeline />
    <Contract />
    <Sandbox />
    <World />
    <Boundary />
    <Architecture />
    <Console />
    <Roadmap />
    <Footer />
  </div>
</Layout>
