---
---

<footer class="foot" id="foot">
  <div class="foot__big">BLAME<span>&nbsp;&nbsp;ENGINE</span></div>
  <div class="foot__line">
    <span>&copy; 2026 2TheGame Creator. All rights reserved.</span>
    <span class="foot__blame">研发中 / IN ACTIVE R&amp;D · v0.9.1a</span>
  </div>
</footer>
